.cardGame {
    width: 150px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #d5d5d5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.05);
    }

    img {
        object-fit: cover;
        max-width: 100%;
        height: auto;
        border-radius: 4px;
    }
}